#strong-author-password-criteria {
	margin: 0.5em 0 0 0.25em;
	color: #666;
	list-style-type: none;
}

#strong-author-password-criteria li:before {
	content: "\2022";
	margin-right: 5px;
	font-size: 9px;
	font-weight: bold;
}

#strong-author-password-criteria li.success:before {
	content: "\2713";
}

#strong-author-password-criteria li.fail:before {
	content: "\2715 "
}

#strong-author-password-criteria li.success {
	color: green;
}

#strong-author-password-criteria li.fail {
	color: red;
}

.invalid #strong-author-password-criteria li.fail {
	color: #fff;
}

.invalid #strong-author-password-criteria li.success {
	color: #aaa;
}